/* Add your custom extension styling here */

.active-project {
    font-weight: bold;
}

.leaf-label {
    padding-left: 18px;
}

.submenu-label {
    padding-left: 2px;
}

.foldout-children {
    padding-left: 5px;
}

.foldout-open {
    padding-bottom: 8px;
}